.top-nav {
    background-color: var(--bg-content);
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 99;
}
.nav {
    height: var(--nav-height);
}
.nav-content {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
    font-weight: 500;
    color: var(--primary-color);
}
.header__nav-list {
    position: relative;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}
.header__nav-item-user {
    list-style: none;
}
.header__nav-item-link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__nav-item-icon-user,
.header__nav-item-icon-bars {
    color: var(--black-color);
    font-size: 1.6rem;
    cursor: pointer;
}

.header__nav-item--acticve,
.header__nav-item-link::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    left: 8px;
    right: 8px;
    background-color: var(--white-color);
    height: 2px;
}

.nav-tablet {
    position: absolute;
    top: calc(100% + 2px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 10px;
    display: none;
    visibility: hidden;
    z-index: 98;
}
.nav-tablet.active {
    display: block;
    visibility: visible;
}
.nav-tablet__list {
    background-color: #fff;
    padding-left: 0;
    width: 200px;
    list-style: none;
    box-shadow: 0 0 12px 2px #ccc;
    border-radius: 12px;
}

.nav-tablet__item {
    padding: 12px;
}
.nav-tablet__item:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.nav-tablet__item-link {
    text-decoration: none;
    font-size: 14px;
    color: var(--txt-color);
}
/*end top nav  */
.account-container {
    background-color: var(--bg-content);
    padding: 15px;
    border-radius: 10px;
}

.account-heading h2 {
    font-size: 26px;
    margin-bottom: 32px;
}
.account-body-items {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-body-items-right span {
    text-decoration: underline;
    font-size: 14px;
    color: #008489;
    font-weight: 450;
    cursor: pointer;
}
.account-body-items label {
    margin-bottom: 4px;
    display: block;
    font-size: 14px;
    font-weight: 450;
}
.account-body-items-input {
    border: 0;
    font-size: 15px;
    width: 100%;
}
.account-body-items-input:focus {
    outline: 0;
    border: 0;
}
.account-btn {
    margin-top: 24px;
    background-color: var(--primary-color);
    width: 10%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 90%;
}
.account-btn:hover {
    background-color: var(--primary-hover);
}

.footer {
    background-color: rgb(255, 255, 255);
}

.footer-end {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 300;
}

.footer__end-copyright-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
.footer__end-copyright__item:first-of-type {
    list-style: none;
}
.footer__end-copyright__item {
    margin-right: 24px;
}

.footer__end-social-list {
    list-style: none;
    display: flex;
}
.footer__end-social-item {
    margin-right: 12px;
}
/* trip */

.trip-container {
    background-color: var(--bg-content);
    padding: 15px 15px;
    border-radius: 10px;
}
.trip-heading {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 32px;
}
.trip-wrapper {
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0 6px 16px;
    border-radius: 10px;
}
.trip-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0 6px 16px;
}
.trip-heading__image {
    background-size: cover;
    height: 200px;
    border-radius: 10px;
}

.trip-body-heading {
    margin: 12px 0;
    font-size: 18px;
    font-weight: 500;
}
.trip-body-items {
    font-size: 14px;
    margin: 8px 0;
}
/* end trip */
