.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.header__nav-list:first-of-type .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-list-tablet {
    display: none;
    justify-content: center;
    list-style: none;
}
.header__nav-list-tablet .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-list-scrollbar {
    margin-left: 52px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}
.header__nav-item-user {
    background-color: var(--white-color);
    /* width: 60px;
      height: 30px; */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.header__nav-item-user-link {
    width: 60px;
}

.nav-tablet {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 10px;
    display: none;
    z-index: 1;
}

.nav-tablet__list {
    padding-left: 0;
    width: 200px;
    list-style: none;
    box-shadow: 0px 0px 12px 2px #ccc;
    border-radius: 12px;
}

.nav-tablet__item {
    padding: 12px 0 12px 12px;
    border-radius: 10px;
}

.nav-tablet__item:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.nav-tablet__item:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

.nav-tablet__item-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--txt-color);
}
.nav-tablet__list {
    padding-left: 0;
    width: 200px;
    list-style: none;
    box-shadow: 0px 0px 12px 2px #ccc;
    border-radius: 12px;
}
.header__nav-item-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
    /* line-height: 30px; */
    position: relative;
    font-weight: 600;
}
.header__nav-item--acticve .header__nav-item-link::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    left: 8px;
    right: 8px;
    background-color: var(--white-color);
    height: 2px;
}
.header__nav-list:first-of-type .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-list-tablet .header__nav-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-item-link-scrollbar:hover {
    background-color: rgb(247, 247, 247);
}
.header__nav-item-link-scrollbar {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 30px;
}
.header__nav-item-link-js {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--txt-color);
    position: relative;
    font-weight: 200;
}

.header__nav-item-link-js:hover {
    color: #999;
}

.header__nav-item--acticve .header__nav-item-link-js::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    left: 8px;
    right: 8px;
    background-color: #000;
    height: 2px;
}